.card {
  background-color: #2b2a2d;
  display: grid;
  grid-template-rows: 1fr auto;
  border-radius: 0.3em;
  border: 1px solid rgb(58, 58, 58);
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.5s;
}

.cardImage {
  height: 25px;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.cardInfo {
  text-align: center;
  display: grid;
}

.cardInfo * {
  margin: 0;
}
