@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500;700;800&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

#app {
  font-family: Montserrat, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #323232;
  text-align: center;
  height: 100%;
}

.coinContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 0 3em;
  grid-gap: 2em;
  margin: auto;
}

header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 3em;
  grid-gap: 2em;
  margin: auto;
}
.hero {
  background: linear-gradient(
      60deg,
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 1)
    ),
    url(https://images.pexels.com/photos/6120182/pexels-photo-6120182.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: cover;
  height: 25vh;
  border-radius: 0.3em;
  -webkit-box-shadow: 5px 5px 42px 1px rgba(209, 209, 209, 0.42);
  box-shadow: 5px 5px 42px 1px rgba(209, 209, 209, 0.42);
}

.heroheading {
  padding: 2em 1em 0 1em;
  text-align: left;
}

.herotext {
  padding-left: 1.5em;
  text-align: left;
}
